{% load static %}
<html>
    <head>
        <title>Noti Ciudad Bolivar</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/servicios.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <style>
            #map {
                height: 400px;
                width: 100%;
            }
        </style>
        <body>
        <div class="grid-container">
            <div class="sidebar">
                <div class="login-container">
                    <form class="login-form"  method="post">
                        {% csrf_token %}
                        <h2 class="mb-4">Registrate</h2>
                        <div class="form-group">
                            <label for="numeroCelular">Número de Celular:</label>
                            <input type="tel" class="form-control" id="numeroCelular" name="username" placeholder="Ingresa tu número de celular" required>
                        </div>
                        <div class="form-group">
                            <label for="{{ form.barrio.id_for_label }}">Barrio:</label>
                            {{ form.barrio }}
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="terminos">
                            <label class="form-check-label" for="terminos">Acepto los términos y condiciones</label>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Regístrese</button>
                    </form>
                </div>
            </div>
            <div class="main-content">
                <h2>Notificaciones</h2>
                <h2>Ciudad Bolivar</h2>
                <p>
                    Para mantenerte informado y prevenido, te ofrecemos la 
                    suscripción a las alertas de interrupciones de servicio en tu área. 
                    No te sorprendas más por cortes inesperados. ¡Es fácil! Simplemente 
                    ingresa tu número de celular y recibirás periódicamente estas y otras 
                    actualizaciones importantes.
                </p>
                <div id="map"></div>
                <script>
                    function initMap(){
                        let city_bolivar = {lat: 4.5441, lng: -74.1535}
                        let map = new google.maps.Map(
                            document.getElementById('map'), {zoom: 13, center: city_bolivar}
                        );
                        
                        locations.forEach(function(location) {
                            var marker = new google.maps.Marker({
                                position: location,
                                map: map
                            });
                        });
                    }
                </script>
                <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJIAVn0c_1iAtIH3V6yVcuswUHGSF2MZM&callback=initMap"></script>
            </div>
        </div>
    </body>
</html>